.signup-main{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.signup-main h4{
  display: flex;
}
.singup-main form{
  text-align: center;
  margin-bottom: 50px;
}
.signup-main input{
  width: 200px;
  height: 30px;
  border: 1px solid #111;
  border-radius: 4px;
  text-align: center;
  display: block;
  margin-top: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.signup-btn{
  margin-top: 20px;
  display:flex;
  justify-content: center;
}
.signup-btn-common{
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.signup-btn-check{
  margin-right: 10px;
  background-color: #4286f4;
}
.signup-btn-cancel{
  background-color: #999;
}
